<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.sinlo.vchat.mapper.FriendMapper">
    <resultMap type="net.sinlo.vchat.entity.Friend" id="FriendUserResultMap">
        <id column="id" property="id"/>
        <result column="user_id" property="user_id"/>
        <result column="friend_id" property="friend_id"/>
        <result column="remark" property="remark"/>
        <result column="createdAt" property="createdAt"/>
        <result column="updateAt" property="updateAt"/>
        <result column="deleteAt" property="deleteAt"/>
        <association property="myFriend"  javaType="net.sinlo.vchat.entity.User">
            <id column="id" property="id"/>
            <result column="phone" property="phone"/>
            <result column="img" property="img"/>
            <result column="signature" property="signature"/>
            <result column="name" property="name"/>
        </association>
    </resultMap>

</mapper>
