<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.sinlo.vchat.mapper.FriendAddMapper">
    <resultMap type="net.sinlo.vchat.entity.FriendAdd" id="FriendUserAddResultMap">
        <id column="id" property="id"/>
        <result column="send_user_id" property="send_user_id"/>
        <result column="to_user_id" property="to_user_id"/>
        <result column="state" property="state"/>
        <result column="createdAt" property="createdAt"/>
        <result column="updateAt" property="updateAt"/>
        <result column="deleteAt" property="deleteAt"/>
        <association property="user"  javaType="net.sinlo.vchat.entity.User">
            <id column="id" property="id"/>
            <result column="phone" property="phone"/>
            <result column="img" property="img"/>
            <result column="signature" property="signature"/>
            <result column="name" property="name"/>
        </association>
<!--        "\t user.*,\n" +-->
<!--        "\t friend.*,\n" +-->
<!--        "\t m.type AS m_type,\n" +-->
<!--        "\t m.updateAt AS m_updateAt,\n" +-->
<!--        "\t m.to_user_id as m_to_user_id,\n" +-->
<!--        "\t m.send_user_id AS m_send_user_id,\n" +-->
<!--        "\t m.isRead AS m_isRead ,\n" +-->
<!--        "\t m.id as m_id,\n" +-->
<!--        "\t m.context as m_context," +-->
<!--        "\t m.send_user_id= #{userId} as m_self "+-->
    </resultMap>

</mapper>
